<div class="customer">
	<div class="actions">
		<%= link_to 'edit', edit_customer_path(customer) %>
		<%= link_to 'x', customer, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
	<h2><%=customer.full_name%></h2>
	<div>
	<%=image_tag(customer.image) %>
</div>
	<p><strong>Phone:</strong><%=customer.phone_number%></p>
	<p><strong>Email:</strong><%=customer.email%></p>
	<p><strong>Notes:</strong><%=customer.notes%></p>
</div>